<mat-list role="list">
    <div class="profile">
        <div>
            <h2>vibisha vijayan</h2>
            <h4>vibishaav96@gmail.com</h4>
        </div>
        <img src="https://i.postimg.cc/CMPjjTCG/kitty.jpg" alt="no image" srcset="">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>pages</h2>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">
        Dashboard
        </a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="posts">
        post
        </a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">
        Article 
    </a>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Tools</h2>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon> &nbsp; contacts
    </a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon> &nbsp; Leads
        </a>
  </mat-list>
  
